config MTK_FLASHLIGHT
  bool CONFIG_MTK_FLASHLIGHT
  default n
  help
    CONFIG_MTK_FLASHLIGHT

config HQ_FLASHLIGHT_IC_LM3642
  bool CONFIG_HQ_FLASHLIGHT_IC_LM3642
  default n
  help
  CONFIG_HQ_FLASHLIGHT_IC_LM3642
